/* form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} */

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: rgb(155, 109, 197); */
    /* background-size: cover; */
    background-position: center;
}
.Login-form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    
}
.Login-form h1{
    font-weight: bolder;
    font-size: 200%;
}
button
{
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.login-btn
{
    background-color: rgb(23, 156, 94);
}
.login-btn :hover{
  background-color: rgba(2, 92, 50, 0.541);
}
/* .form{
    border-radius: 2px solid black;
} */
.email-class{
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}